@CHARSET "EUC-KR";

#header{
	font-size:0.8em;
}
#join{font-size:0.85em;}

#nav{

	background-color:#0064CD;
}

#nav ul{	
	text-align:justify;
}

#nav ul li{
	display:block;
	margin:0 1px 0 0;
	
	float:left;
	text-align:justify;
}

#nav ul a{
	float:left;
	height:28px;
	
	display:block;
	color:#D5F1FF;
	font-weight:bold;
	font-size:15px;
	letter-spacing:-1px;
	
	width:250px;
	
	padding:10px;	
}

#nav ul a:hover{
	color:#fff;
	background:transparent url(/data/201012/IJ12928426473437/blueslate_backgroundOVER.gif) no-repeat top center;
}

#sub_menu{
	margin-right:50px;
	font-size:1em;
	font-weight:bold;
	letter-spacing:-2px;
}


#sub_menu a{
  display: block;
  padding: .85rem;
  color: #fff;
  background-color: #46AAEB;
  box-shadow: inset 0 -1px #1d1d1d;
  -webkit-transition: all .25s ease-in;
          transition: all .25s ease-in;
}

#sub_menu ul a:hover{
	color:#fff;
	background:transparent url(/data/201012/IJ12928426473437/blueslate_backgroundOVER.gif) no-repeat top center;
}


#sub_menu h3{
	
	display: block;
    padding: .85rem;
    color: #fff;
    background-color: #0064CD;
    box-shadow: inset 0 -1px #1d1d1d;
    -webkit-transition: all .25s ease-in;
          transition: all .25s ease-in;

}

#sub_menu li{border-bottom:1px; solid:#999;}


#content{
	font-size:0.8em;
}

#title{
	padding-top:150px;
}

#title h1{
	padding-bottom:5px;
}

#col1{
	padding-top:20px;
	
}
#col2{
	padding-top:20px;
}

#col1 h3{
	color:#406997;
	font-weight:bolder;
	font-size:1.6em;
	letter-spacing:-1px;
	
	padding-top:10px;
	padding-left:10px;
	padding-bottom:5px;
	color:#033773;
}

#prom_list{
	background-color:#CEEEFF;
	border:1px solid #006CA7;
	border-radius: 5px;
	margin-bottom:20px;
}

#prom_list li{
	text-align:center;
	padding:10px;
}

#prom_list li a{
	float:left;
	display:block;
	padding:65px 3px 3px 3px;
	font-weight:bold;
	letter-spacing:-1px;
	color:#666666;
}

#qr{
	margin-left:40px;
	
}

#prom_banner{
	padding-top:40px;
	padding-bottom:40px;
}

#prom_banner .course{
	font-size:1em;
	padding-left:20px;
	padding-right:148px;
	line-height:1.3em;
}

#prom_banner .course a{
	padding:3px 4px;
	font-size:11px;
	line-height:11px;
	font-weight:bold;
	color:white;
	background:url("../img/prom_banne_bn.gif") no-repeat 0 0;
}

#prom_banner .course a:hover, #prom_banner #banner1{
	background:url("../img/prom_banne_bn.gif") no-repeat -15px 0;
}

#prom_banner .course h3{
	font-size:1.3em;
	color:#161161;
}

#course1{
	background:url("../img/prom_banner_img01_num.gif") no-repeat 185px 0;
}
#course1{
	background:url("../img/prom_banner_img02_num.gif") no-repeat 185px 0;
}

.banner_article{
	padding-right:20px;
}
.banner_article div{
	padding-top:4.7em;
}
.banner_article div h4{
	padding-bottom:10px;
	font-size:1.0em;
	color:#f74030;
}
.banner_article div p{
	padding-right:5px;
	font-size:0.9em;
	font-weight:bold;
	line-heihgt:1.1em;
	letter-spacing:-2px;
	color:#999999;
}
#col2{
	letter-spacing:-2px;
}

#prom_hot{
}

.hot_article{
	padding:5px 5px 5px 113px;
}

#hot_img1{
	backgroud:url("../img/prom_hot_img01.jpg")no-repeat 5px 12px;
	margin-top:10px;
}
#hot_img1{
	backgroud:url("../img/prom_hot_img02.jpg")no-repeat 5px 10px;
}
#hot_img1{
	backgroud:url("../img/prom_hot_img03.jpg")no-repeat 5px 10px;
	margin-top:15px;
}

.hot_article h4{
	font-size:1em;
	color:#f74030;
}
.hot_article p{
	padding-top:5px;
	line-height:1em;
}

#prom_gallery{
	background:url("../img/prom_gallery.jpg") no-repeat 0 0;
	text-align:center;	
}

#prom_gallery a{
	padding-left:214px;
	display:block;
}

#footer{
	padding-top:30px;
	font-size:0.8em;
}

#address{
	font-size:0.85em;
	font-weight:bold;
	letter-spacing:-1px;
	text-align:right;
	color:#333333;
	padding-right:45px;
	background:url("../img/bottom_logo.jpg") no-repeat right center;
}


